version: "3.8"

services:
  app:
    build: .
    container_name: my_app
    environment:
      - POSTGRES_HOST=postgres
      - POSTGRES_PORT=5432
      - POSTGRES_DATABASE=prod
      - POSTGRES_USERNAME=prod
      - POSTGRES_PASSWORD=prod
    ports:
      - "8080:8080"
    depends_on:
      - postgres

  postgres:
    image: postgres:latest
    container_name: postgres
    environment:
      POSTGRES_USER: prod
      POSTGRES_PASSWORD: prod
      POSTGRES_DB: prod
    ports:
      - "5432:5432"
    networks:
      - default
    restart: always

networks:
  default:
    driver: bridge
